<h1>Sessions#new</h1>
<p>Find me in app/views/sessions/new.html.erb</p>
<h1>Signin</h1>
<hr>
<%= form_for(:session, url: sessions_path) do |f| %>

	<%= f.label :username %>
	<%= f.text_field :username %>

	<%= f.label :password %>
	<%= f.password_field :password %>
	<br><br>
	<%= f.label :account_admin_password %>
	<%= f.password_field :account_admin_password, placeholder:"only if admin" %>
	<br>
	<%= f.submit "Sign in", class: "btn" %>

<% end %>