<h1 class="gray-well">admin dashboard</h1>
<br><br>


	<!-- TODO Speed up total views and MOVE OUT OF HERE -->
	<% @views = 0 %>
	<% current_account.documents.each do |doc| %>
	<% @views += doc.views %>
	<% end %>



<!-- <div class="well"> -->

<div class="row gray-well">
	<div class="span6">
		<h1>Account info</h1>
	</div>
	<div class="span6">
		<h1 id="subscription-header">Subscription info</h1>
	</div>
</div>

<div class="row gray-well sub">
	<div class="span6">

		<div class="input-prepend">
			<i class='icon-folder-open-alt'></i>
			<%= current_account.username %>
		</div>

		<%#= f.label "Admin full name" %>
		<p class="account-admin">Account Administrator:</p>
		<div class="input-prepend">
			<i class='icon-user' style="margin-right:4px;"></i>
			<%= current_account.admin_name %>
		</div>

		<%#= f.label "Admin email address" %>
		<div class="input-prepend">
			<i class='icon-envelope' style="margin-right:1px;"></i>
			<%= current_account.admin_email %>
		</div>

		<%#= f.label "Admin phone number" %>
		<div class="input-prepend">
			<i class='icon-phone' style="margin-right:4px;"></i>
			<%= current_account.admin_phone %>
		</div>
		<%= link_to "Edit", edit_account_path(current_account), class: "btn pull-right" %>
	</div>

	<div class="span6">
		<ul>
			<li>Plan: <%= plan_to_words(current_account.subscription.plan) %> 
				<% if current_account.in_trial? %>
				<span class="pull-right days-left">Days left: <%= trial_days_remaining(current_account) %></span> 
				<% end %>
			</li>
			<p class="account-admin">Stats:</p>
			<li>Price: <%= price(current_account) %></li>
			<!-- <li>Capacity: <%= max_files(current_account) %></li> -->
			<li>Total Files: <%= current_account.documents.count %></li>
			<li>Total Views: <%= @views %></li>
		</ul>
		<%= link_to "Edit", edit_subscription_path(current_account.subscription) %>
	</div>

</div>

	<div id="file-usage" class="row gray-well dark">
		<h2>File Usage</h2>

		<div class="span9 offset1">
			<div class="well">
				<div class="horizontal-bar">
					<div id="current-files" class="pull-right"> <%= current_account.documents.count %> </div>
				</div>
			</div>
		</div>
		<div class="span2">
			<p id="max"><span><%= max_files(current_account) %></span> max files</p>
		</div>
	</div>


<!-- </div> -->



<script type="text/javascript">
$(function(){
	current = parseInt($('#current-files').html());
	width = current*100 / <%= max_files(current_account) %>;
	$('.horizontal-bar').animate({"width": width + "%"}, 1500);
})
</script>	