<h1>admin dashboard</h1>

<h2>files: <%= current_account.documents.count %></h2>
<h2>max files: <%= max_files(current_account) %></h2>
<h2>plan: <%= current_account.subscription.plan %></h2>
<h2>Days left: <%= distance_of_time_in_words(Time.now, (current_account.subscription.created_at + 30.days)).to_i%></h2>

<h3>Total views: <% start = Time.now  %>
				 <% @views = 0 %>
				 <% current_account.documents.each do |doc| %>
				 	<% @views += doc.views %>
				 	<%= @views %>
				 	<%= Time.now - start%>
				 	<% end %>
<!-- TODO Speed up total views -->

</h3>
<div id="file-usage" class="row well dark">
	<h2>File Usage</h2>

	<div class="span8 offset1">
		<div class="well">
		<div class="horizontal-bar">
			<div id="current-files" class="pull-right"> <%= current_account.documents.count %> </div>
		</div>
		</div>
	</div>
	<div class="span1">
		max files: <%= max_files(current_account) %>
	</div>
</div>

	<div class="well">

		<div class="row">
			<div class="span4">
				<h1>Account info</h1>
				<hr class="skinny">
			</div>
			<div class="span4">
				<h1>Subscription info</h1>
				<hr class="skinny">
			</div>
			<div class="span4"></div>
		</div>

		<div class="row">
		<div class="span4">

		<div class="input-prepend">
			<i class='icon-folder-open-alt'></i>
			<%= current_account.username %>
		</div>

		<%#= f.label "Admin full name" %>
		<div class="input-prepend">
			<i class='icon-user' style="margin-right:4px;"></i>
			<%= current_account.admin_name %>
		</div>

		<%#= f.label "Admin email address" %>
		<div class="input-prepend">
			<i class='icon-envelope' style="margin-right:1px;"></i>
			<%= current_account.admin_email %>
		</div>

		<%#= f.label "Admin phone number" %>
		<div class="input-prepend">
			<i class='icon-phone' style="margin-right:4px;"></i>
			<%= current_account.admin_phone %>
		</div>
		<%= link_to "Edit", edit_account_path(current_account) %>
		</div>

			<div class="span4">
				<ul>
					<li>Plan: <%= current_account.subscription.plan %></li>
					<li>Price: <%= price(current_account) %></li>
					<li>Capacity: <%= max_files(current_account) %></li>
					<li>Total Files: <%= current_account.documents.count %></li>
					<li>Total Views: <%= @views %></li>
				</ul>
				<%= link_to "Edit", edit_subscription_path(current_account.subscription) %>
			</div>
			<div class="span4"></div>
		</div>

		

	</div>



<script type="text/javascript">
	$(function(){
		current = parseInt($('#current-files').html());
		width = current*100 / 250;
		$('.horizontal-bar').animate({"width": width + "%"}, 1000);
	})
</script>	