<!-- ignore this comment
 -->
<% if signed_in? %>
<h1><%= image_tag "logo2.png", class: "logo verysmall" %> Welcome to Blue Files </h1> 

<div id="index">
	
<div class="row">
	<a id="upload" href="/documents/new" class="span5 well">
		<h1> Upload Documents <i class="icon-cloud-upload"></i> </h1>
	</a>
	<a id="view" href="/documents" class="span5 offset1 well">
		<h1> View Documents <i class="icon-file-alt"></i> </h1>
	</a>
</div>

<div id="homepage-row" class="row">

	<div class="span5 well" style="min-height:200px">
		<!-- <h3>Recent Requests</h3>

		<div id="recentStreamContainer">
			<%= render 'requests/recent_requests_stream' %>
			<%= render 'requests/new_request_form' %>
		</div> -->
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#added">Recently Added</a></li>

		</ul>

			<div class="tab-pane active" id="added">
				<%= render 'documents/recent_documents_stream' %>
			</div>
		
	</div>



	<div class="span5 offset1 well" style="min-height:200px">

		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#viewed">Most Viewed </a></li>
			<li><a href="#commented">Most Commented</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="viewed">
				<%= render 'documents/most_viewed_documents_stream' %>
			</div>
			<div class="tab-pane" id="commented">
				<%= render 'documents/most_commented_documents_stream' %>
			</div>
		</div>






	</div>



</div>

</div>

<% else %>
<div class="row">
	<div class="span6 offset3" style="text-align:center;">
		<h1>Welcome to Blue Files!</h1>
		<!-- TODO: remove all inline styles -->
		<%= image_tag "logo2.png", class: "logo big", style: "text-align:center;" %>
<!-- 		<ul>
			<li>Secure Storage</li>
			<li>File Management</li>
			<li>Censorship & Privacy</li>
		</ul> -->
		<div class="well">
			<%= link_to "Sign in", signin_path, class: "btn btn-large btn-block", style: "font-size: 1.3em;" %>
			<br><br>
			<%= link_to "Sign Up (coming soon)", root_path, class: "btn btn-primary btn-block disabled", style: "font-size: 1.3em;" %>
		</div>
	</div>
</div>

<%#= image_tag "logo.png", class: "logo big" %>
<%#= image_tag "logo.png", class: "logo" %>
<%#= image_tag "logo.png", class: "logo small" %>
<%#= image_tag "logo.png", class: "logo verysmall" %>
<%#= image_tag "logo.png", class: "logo icon" %>
<br>
<%#= image_tag "logo2.png", class: "logo big" %>
<%#= image_tag "logo2.png", class: "logo" %>
<%#= image_tag "logo2.png", class: "logo small" %>
<%#= image_tag "logo2.png", class: "logo verysmall" %>
<%#= image_tag "logo2.png", class: "logo icon" %>
<br>
<%#= image_tag "logo3.png", class: "logo big" %>
<%#= image_tag "logo3.png", class: "logo" %>
<%#= image_tag "logo3.png", class: "logo small" %>
<%#= image_tag "logo3.png", class: "logo verysmall" %>
<%#= image_tag "logo3.png", class: "logo icon" %>
<br>
<%#= image_tag "logo4.png", class: "logo big" %>
<%#= image_tag "logo4.png", class: "logo" %>
<%#= image_tag "logo4.png", class: "logo small" %>
<%#= image_tag "logo4.png", class: "logo verysmall" %>
<%#= image_tag "logo4.png", class: "logo icon" %>
<% end %>