<!-- ignore this comment
-->
<% if signed_in? %>
<h1><%= image_tag "logo2.png", class: "logo verysmall" %> Welcome to Blue Files </h1> 

<div id="index">
	
	<div class="row">
		<a id="upload" href="/documents/new" class="span5 well">
			<h1> Upload Documents <i class="icon-cloud-upload"></i> </h1>
		</a>
		<a id="view" href="/documents" class="span5 offset1 well">
			<h1> Find Documents <i class="icon-file-alt"></i> </h1>
		</a>
	</div>

	<div id="homepage-row" class="row">

		<div class="span5 well" style="min-height:200px">
		<!-- <h3>Recent Requests</h3>

		<div id="recentStreamContainer">
			<%= render 'requests/recent_requests_stream' %>
			<%= render 'requests/new_request_form' %>
		</div> -->
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#added">Recently Added</a></li>

		</ul>

		<div class="tab-pane active" id="added">
			<%= render 'documents/recent_documents_stream' %>
		</div>
		
	</div>



	<div class="span5 offset1 well" style="min-height:200px">

		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#viewed">Most Viewed </a></li>
			<li><a href="#commented">Most Commented</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="viewed">
				<%= render 'documents/most_viewed_documents_stream' %>
			</div>
			<div class="tab-pane" id="commented">
				<%= render 'documents/most_commented_documents_stream' %>
			</div>
		</div>






	</div>



</div>

</div>

				<!-- ********* NOT LOGGED IN ********** -->
<% else %>
<div class="row">

	<div class="span6" style="text-align:center;">
		<h1>Welcome to Blue Files!</h1>
		<!-- TODO: remove all inline styles -->
		<%= image_tag "logov2.png", class: "logo big", style: "text-align:center;" %>
	</div>

	<div class="span6">
		<div class="well dark">
				<%= link_to "Sign in", signin_path, class: "btn btn-large btn-block", style: "font-size: 1.3em;" %>
				<br><br>
				<%= link_to "Sign Up (coming soon)", root_path, class: "btn btn-primary btn-block disabled", style: "font-size: 1.3em;" %>
		</div>
		<div id="file-ticker" class="well dark">
			<h1><%= @DocumentCount + 300 %> <small>files secured</small></h1>
		</div>
	</div>
	
</div>

<div class="well dark" id="homepage">

	<div class="row">
		<div class="span6"><img src="http://fakeimg.pl/425x225/333/FFF/?text=security"></div>
		<div class="span5">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>

	<div class="row">
		<div class="span6"><img src="http://fakeimg.pl/425x225/333/FFF/?text=simplicity"></div>
		<div class="span5">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>

	<div class="row">
		<div class="span6"><img src="http://fakeimg.pl/425x225/333/FFF/?text=pricing"></div>
		<div class="span5">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
	</div>

	<div class="row">
		<div class="span5">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		<div class="span6"><img src="http://fakeimg.pl/425x225/333/FFF/?text=our+technology"></div>
	</div>

	
</div>

<%#= image_tag "logo.png", class: "logo big" %>
<%#= image_tag "logo.png", class: "logo" %>
<%#= image_tag "logo.png", class: "logo small" %>
<%#= image_tag "logo.png", class: "logo verysmall" %>
<%#= image_tag "logo.png", class: "logo icon" %>
<br>
<%#= image_tag "logo2.png", class: "logo big" %>
<%#= image_tag "logo2.png", class: "logo" %>
<%#= image_tag "logo2.png", class: "logo small" %>
<%#= image_tag "logo2.png", class: "logo verysmall" %>
<%#= image_tag "logo2.png", class: "logo icon" %>
<br>
<%#= image_tag "logo3.png", class: "logo big" %>
<%#= image_tag "logo3.png", class: "logo" %>
<%#= image_tag "logo3.png", class: "logo small" %>
<%#= image_tag "logo3.png", class: "logo verysmall" %>
<%#= image_tag "logo3.png", class: "logo icon" %>
<br>
<%#= image_tag "logo4.png", class: "logo big" %>
<%#= image_tag "logo4.png", class: "logo" %>
<%#= image_tag "logo4.png", class: "logo small" %>
<%#= image_tag "logo4.png", class: "logo verysmall" %>
<%#= image_tag "logo4.png", class: "logo icon" %>
<% end %>