<!-- ignore this comment
-->
<% if mobile_device? %>
<div style="background-color: #ccc; border:1px solid #aaa; padding: 5px;">
	<h1 style="color:green; text-align:center;">Mobile Device Detected</h1>
	<h2 style="color:#333; text-align:center;">iPhone</h2>
</div>
<% end %>

<% if signed_in? %>
<h1><%= image_tag "logo2.png", class: "logo verysmall" %> Welcome to Blue Files </h1> 



<div id="index">
	
	<div class="row">
		<a id="upload" href="/documents/new" class="span5 well">
			<h1> Upload Documents <i class="icon-cloud-upload"></i> </h1>
		</a>
		<a id="view" href="/documents" class="span5 offset1 well">
			<h1> Find Documents <i class="icon-file-alt"></i> </h1>
		</a>
	</div>

	<div id="homepage-row" class="row">

		<div class="span5 well" style="min-height:200px">
		<!-- <h3>Recent Requests</h3>

		<div id="recentStreamContainer">
			<%= render 'requests/recent_requests_stream' %>
			<%= render 'requests/new_request_form' %>
		</div> -->
		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#added">Recently Added</a></li>

		</ul>

		<div class="tab-pane active" id="added">
			<%= render 'documents/recent_documents_stream' %>
		</div>
		
	</div>



	<div class="span5 offset1 well" style="min-height:200px">

		<ul class="nav nav-tabs" id="myTab">
			<li class="active"><a href="#viewed">Most Viewed </a></li>
			<li><a href="#commented">Most Commented</a></li>
		</ul>

		<div class="tab-content">
			<div class="tab-pane active" id="viewed">
				<%= render 'documents/most_viewed_documents_stream' %>
			</div>
			<div class="tab-pane" id="commented">
				<%= render 'documents/most_commented_documents_stream' %>
			</div>
		</div>






	</div>



</div>

</div>

				<!-- ********* NOT LOGGED IN ********** -->
<% else %>

<%= render 'welcome/top' %>
<div class="well dark" id="homepage">

	<div class="row">
		<div class="span6">
			<a href="/security"><div class="welcome-sprite core-security">
			</div></a>
		</div>
		<div class="span5 welcome-text">
			<p>With Blue Files, your privacy is guaranteed. Our service provides a single account for each group, allowing anonymity for all users. Once activated by the account administrator, group members can share files and view other members' uploads effortlessly. 
			</p>
			<ul>
				<li> <i class="icon-lock"></i> Anonymous, safe, and protected file hosting</li>
				<li> <i class="icon-group"></i> Single account name and password for all confirmed group members..eh...</li>
				<li> <i class="icon-download-alt"></i>Files cannot be downloaded and shared (less negative)</li>
			</ul>
			<a href="/security"> security &raquo;</a>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<a href="/simplicity"><div class="welcome-sprite core-simplicity"></div></a>
		</div>
		<div class="span5 welcome-text">
			<p>Private file sharing has never been easier. View all of your group's documents and upload some of your own. Log in, choose your pdf file, and share it within seconds. 
			</p>
			<ul>
				<li> <i class="icon-upload-alt"></i> Upload documents instantly</li>
				<li> <i class="icon-cloud"></i> View tests, notes, and documents all in one place</li>
				<li> <i class="icon-unlock"></i> Log in and unlock all of your group's files</li>
			</ul>
			<a href="/simplicity"> simplicity &raquo;</a>
		</div>
	</div>

	<div class="row">
		<div class="span6">
			<a href="/pricing"><div class="welcome-sprite core-pricing"></div></a>
		</div>
		<div class="span5 welcome-text">
			<p>Blue Files offers pricing options for groups big and small. Find the pricing plan that best fits your group's needs and get started with us today!   
			</p>
			<ul>
				<li> <i class="icon-ok"></i> Give us a try and see what you think, the first month is on us!</li>
				<li> <i class="icon-money"></i> Affordable plans to maximize </li>
				<li> <i class="icon-key"></i> Lorem ipsum dolor sit amet</li>
			</ul>
			<a href="/pricing"> pricing &raquo;</a>
		</div>
	</div>

	<div class="row">
		<div class="span5 welcome-text">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			</p>
			<ul>
				<li> <i class="icon-file-alt"></i> Lorem ipsum dolor sit amet</li>
				<li> <i class="icon-lock"></i> Lorem ipsum dolor sit amet</li>
				<li> <i class="icon-key"></i> Lorem ipsum dolor sit amet</li>
			</ul>
			<a href="/technology"> technology &raquo;</a>
		</div>
		<div class="span5 offset1">
			<a href="/technology"><div class="welcome-sprite core-our_technology"></div></a>
		</div>
	</div>

	
</div>

<%#= image_tag "logo.png", class: "logo big" %>
<%#= image_tag "logo.png", class: "logo" %>
<%#= image_tag "logo.png", class: "logo small" %>
<%#= image_tag "logo.png", class: "logo verysmall" %>
<%#= image_tag "logo.png", class: "logo icon" %>
<br>
<%#= image_tag "logo2.png", class: "logo big" %>
<%#= image_tag "logo2.png", class: "logo" %>
<%#= image_tag "logo2.png", class: "logo small" %>
<%#= image_tag "logo2.png", class: "logo verysmall" %>
<%#= image_tag "logo2.png", class: "logo icon" %>
<br>
<%#= image_tag "logo3.png", class: "logo big" %>
<%#= image_tag "logo3.png", class: "logo" %>
<%#= image_tag "logo3.png", class: "logo small" %>
<%#= image_tag "logo3.png", class: "logo verysmall" %>
<%#= image_tag "logo3.png", class: "logo icon" %>
<br>
<%#= image_tag "logo4.png", class: "logo big" %>
<%#= image_tag "logo4.png", class: "logo" %>
<%#= image_tag "logo4.png", class: "logo small" %>
<%#= image_tag "logo4.png", class: "logo verysmall" %>
<%#= image_tag "logo4.png", class: "logo icon" %>
<% end %>