<%= form_for @request, validate: true, remote: false do |f| %>


	<%= render 'shared/form_error_messages', object: f.object %>
	
	
	<%= f.label "Request" %>
	<%= f.text_field :content, placeholder: ' "Economics 10a Finals" ' %>

	<br><br>
	<div style="display:;">
		<%= f.submit "Request", disable_with: "Posting..", class: "btn btn-small btn-primary" %>
	</div>
<% end %>

