<div class="most-comments-stream">

	<ul>
		<% @docsByComments.each do |doc| %>
		<a href="/documents/<%= doc.id %>">
			<li>
				<p class="main"><%= doc.category + " " + doc.sub_category %> , <small><%= doc.title  %></small></p>

				<p class="timestamp"> <span style="color: yellowgreen;"><i class="icon-comment-alt"></i> <%= doc.comment_count %></span> comments</p>
			</li>
		</a>
		<% end %>
	</ul>
	<h4 class="view-all"><%= link_to "View All by comments", "/documents/comments" %></h4>
	
</div>

