<div class="row" style="text-align:center;">
	<div class="gray-form span4">
		<h1>Edit Document </h1>
	</div>
</div>

<div id="edit-documents-form" class="row">
	<div class="gray-form span4">
		<%= form_for @document, validate: true, remote: false do |f| %>

		<%= f.hidden_field :hidden, value: @document.object_id  %>

		<%= render 'shared/form_error_messages', object: f.object %>

		<p><small>document.id <%= @document.object_id %></small></p>

		<%= f.label :title %>
		<%= f.text_field :title %>

		<%= f.label :type_of_document %>
		<%= f.select :type_of_document, ['Test','Essay','Homework', 'Other'] %>

		<%= f.label current_account.category %>
		<%= f.text_field :category %>

		<%= f.label current_account.sub_category %>
		<%= f.text_field :sub_category %>

		<%= f.label current_account.sub_sub_category %>
		<%= f.text_field :sub_sub_category %>

		<br><br>

		<%= f.submit "Update File", disable_with: "Updating..", class: "btn btn-small" %>
	<% end %>
	</div>
</div>

<div class="row" style="text-align:center;">
	<div class="gray-form span4">
		<%= button_to "Delete", @document, confirm: "Are you sure you want to permanently delete this file?", method: :delete %>
	</div>
</div>



<h1 class="todo" style="color:red;">TODO: DELETE FILE button</h1>
<h1 class="todo" style="color:red;">TODO: PREVIEW/thumbnail or view file button</h1>