<h1>All Documents</h1>
<br>
<br>
<br>
<table id="documentsTable" class="display">
	<thead>
	<tr>
		<th><%= current_account.category %></th>
		<th><%= current_account.sub_category %></th>
		<th><%= current_account.sub_sub_category %></th>
		<th>Type</th>
		<th><%= current_account.schedule_type %></th>
		<th>Title</th>
	</tr>
	</thead>

<% if signed_in? %>
	<tbody>
	<% @current_account_documents.each do |doc| %>
	<tr>
		<td><%= doc.category %></td>
		<td><%= doc.sub_category %></td>
		<td><%= doc.sub_sub_category %></td>
		<td><%= doc.type_of_document %></td>
		<td><%= doc.quarter %></td>
		<td><%= link_to doc.title, doc %></td>
	</tr>
	<% end %>
	</tbody>
<% end %>

</table>