<h1 style="text-align:center">Upload Documents</h1>
<hr>
<div class="row" id="new-doc-hud">
	<div class="span12">
		
		<div class="span3">
			<h4 style="color:green;">Total Documents: <%= current_account.documents.count %></h4>
			<%= link_to raw(" <i class='icon-file-alt'></i>	 View Documents"), documents_path %>
		</div>
		<div class="span6 pull-right">
			<p>
				Every document uploaded will be converted to work with our <strong>secure document viewer</strong>. Please convert files to <strong>PDF format</strong> before uploading
			</p>
		</div>
	</div>
</div>
<div id="convert-link">
	<p>Step 1</p>
	<hr>
	<p>Convert to PDF</p>
	<%= image_tag "convert-link.png" %>
</div>
<div class="row" id="newDocumentsRow">
	<div class="span4 offset4 center">
		<div id="addFormContainer">

			<!-- document create form -->
			<% 1.times do  %>
			<%= render 'documents/new_document_form' %>
			<% end %>
			<div id="neww"></div>
			<div style="text-align:center;">
				<%= link_to raw("<i class='icon-plus-sign'></i> Add more"), new_document_form_path, remote: true, class: "btn btn-success", id: "add-more" %>
			</div>
			<%#= render 'documents/last_form' %>

			<hr style="color:black;">
		</div>

	</div>

	<div class="span4">
		
			<div class="added-file top-header">
				<p>Uploaded Documents</p>
			</div>
	</div>

</div>

