<h1>Documents#show</h1>
<p>Find me in app/views/documents/show.html.erb</p>
<table>
	<tr>
		<td><%= @document.category %></td>
		<td><%= @document.sub_category %></td>
		<td><%= @document.sub_sub_category %></td>
		<td><%= @document.title %></td>
	</tr>
</table>
<%= image_tag @document.document_file_url %>