
<div id="hud">



  <div class="row">

    <div class="span3 info">
      <p class="first"><span><%= current_account.category %>:</span> <%= @document.category %></p>
      <p class="second"><span><%= current_account.sub_category %>:</span> <%= @document.sub_category %></p>
      <p class="third"><span><%= current_account.sub_sub_category %>:</span> <%= @document.sub_sub_category %></p>
      <p class="fourth"><span>title:</span> <%= @document.title %></p>
    </div>

    <div class="span3">
      <p class="timestamp"> <span style="color: yellowgreen;"><i class="icon-signal"></i> <%= @document.views %></span> views</p>

      <a class="smoothscroll" href="#comments-link">
        <p class="timestamp"> <span style="color: yellowgreen;">
          <i class="icon-comment-alt"></i> <%= @document.comment_count %>
        </span> comments</p>
      </a>
    </div>

    <div id="admin-controls"class="span3 pull-right">
      <% if admin? %>
      <span class="label label-important admin-edit">
        <i class="icon-edit"></i> <%= link_to "Admin Edit Document", edit_document_path(@document) %>
      </span>
      <% else %>
      <span rel="tooltip" data-placement="bottom" data-original-title="You must be logged in as an admin to edit documents" class="label admin-edit disabled">
        <i class="icon-edit"></i> Admin Edit Document
      </span>
      <% end %>
    </div>

  </div>

</div>



<div style="text-align:center;">

  <span class="page-count">Page: <span id="page_num"></span> / <span id="page_count"></span></span>
</div>

<div class="row" style="display:table;position: relative; overflow: hidden;">

 <div id="prev_column" class="span1" onclick="goPrevious()">

   <span class="raquos-container">  		
    <span class="raquos">&laquo;</span>
    <br><br><br><br>
    <span class="raquos">&laquo;</span>
    <br><br><br><br>
    <span class="raquos">&laquo;</span>
  </span>

</div>

<div class="span10">

  <div id="pdf-loading"><i class="icon-spinner icon-spin"></i> Loading</div>
  <canvas id="the-canvas" style="border:1px solid black"></canvas>

</div>

<div id="next_column"class="span1" onclick="goNext()">
  <span class="raquos-container">  		
    <span class="raquos">&raquo;</span>
    <br><br><br><br>
    <span class="raquos">&raquo;</span>
    <br><br><br><br>
    <span class="raquos">&raquo;</span>
  </span>
</div>

</div>
<div>
</div>

<%= render 'documents/comment_area' %>


<!-- Use latest PDF.js build from Github -->
<script type="text/javascript" src="https://raw.github.com/mozilla/pdf.js/gh-pages/build/pdf.js"></script>

<script type="text/javascript">
    // TODO: MOVE THIS SHIT!!!
    //
    // NOTE: 
    // Modifying the URL below to another server will likely *NOT* work. Because of browser
    // security restrictions, we have to use a file server with special headers
    // (CORS) - most servers don't support cross-origin browser requests.
    //
    var url = "http://www.stluciadance.com/prospectus_file/sample.pdf";

    //
    // Disable workers to avoid yet another cross-origin issue (workers need the URL of
    // the script to be loaded, and currently do not allow cross-origin scripts)
    //
    PDFJS.disableWorker = true;

    var pdfDoc = null,
    pageNum = 1,
    scale = 1.5,
    canvas = document.getElementById('the-canvas'),
    ctx = canvas.getContext('2d');

    //
    // Get page info from document, resize canvas accordingly, and render page
    //
    function renderPage(num) {
      // Using promise to fetch the page
      pdfDoc.getPage(num).then(function(page) {
        var viewport = page.getViewport(scale);
        canvas.height = viewport.height;
        canvas.width = viewport.width;

        // Render PDF page into canvas context
        var renderContext = {
          canvasContext: ctx,
          viewport: viewport
        };
        console.log('page loading');
        page.render(renderContext);
        console.log('loaded!');
        $('#pdf-loading').hide('slow');
      });

      // Update page counters
      document.getElementById('page_num').textContent = pageNum;
      document.getElementById('page_count').textContent = pdfDoc.numPages;
    }

    //
    // Go to previous page
    //
    function goPrevious() {
      if (pageNum <= 1)
        return;
      pageNum--;
      renderPage(pageNum);
    }

    //
    // Go to next page
    //
    function goNext() {
      if (pageNum >= pdfDoc.numPages)
        return;
      pageNum++;
      renderPage(pageNum);
    }

    //
    // Asynchronously download PDF as an ArrayBuffer
    //
    PDFJS.getDocument(url).then(function getPdfHelloWorld(_pdfDoc) {
      pdfDoc = _pdfDoc;
      renderPage(pageNum);
    });

    

    $(document).keydown(function(e){
      if (e.keyCode == 37) { 
       goPrevious();
       $("#prev_column").addClass("active").delay(100).queue(function(next){
         $(this).removeClass("active");
         next();
       });
     }
     else if (e.keyCode == 39){
       goNext();
       $("#next_column").addClass("active").delay(100).queue(function(next){
         $(this).removeClass("active");
         next();
       });
     }
     else {
     	return false;
     }
   });

	// screenshot

  var keysPressed  = []
  var combo = [93,16] 
  $(document).keydown(function(e){
   switch(e.which){
    case 91 || 93:
    keysPressed.push(93);
    break;
    case 93:
    keysPressed.push(93);
    break;
    case 16:
    keysPressed.push(16);
    break;
    default:
    keysPressed = [];
    break;
  }
  console.log(keysPressed);
  if ($(keysPressed).not(combo).length == 0 && $(combo).not(keysPressed).length == 0) {
    console.log('hide!');
    $('#the-canvas').addClass("censor");
  }
});

  $(document).keyup(function(e){
   switch(e.which){
     case 91:
     keysPressed = [];
     break;
     case 93:
     keysPressed = [];
     break;
     case 16:
     keysPressed = [];
     break;
     default:
     break;
   }
   console.log(keysPressed);
 });



	// screenshot end

  </script>


