<h2>views</h2>

<div class="most-views-stream">

	<ul>
		<% @docsByViews.each do |doc| %>
		<a href="/documents/<%= doc.id %>">
		<li>
			<p class="main"><%= doc.category + " " + doc.sub_category %> , <small><%= doc.title  %></small></p>

			<p class="timestamp"> <span style="color: yellowgreen;"><%= doc.views %></span> views</p>
		</li>
		</a>
		<% end %>
	</ul>
	<h4><%= link_to "View All", "/documents/views" %></h4>
	
</div>