
<div class="row"><div id="CC-form" class="span4 offset2">
	<div id="sign-up-header">
		<h2>Payment Info</h2>
		<p>The first month is <strong>free</strong> and you can cancel any time</p>
	</div>
	<hr class="skinny">
	<%#= render 'shared/form_error_messages', object: f.object %>
	
	<%#= f.label :username %>
		<!-- *** CC FORM START *** -->

	<%= form_for @subscription do |f| %>
	<% if @subscription.errors.any? %>
	<div class="error_messages">
		<h2><%= pluralize(@subscription.errors.count, "error") %> prohibited this subscription from being saved:</h2>
		<ul>
			<% @subscription.errors.full_messages.each do |msg| %>
			<li><%= msg %></li>
			<% end %>
		</ul>
	</div>
	<% end %>
	<!-- TODO value should be dynamic -->
	<%= f.hidden_field :plan, value: 1 %>
	<%= f.hidden_field :email, value: current_account.admin_email %>
	<%= f.hidden_field :description, value: "#{current_account.username} id:#{current_account.id}" %>
	<%= f.hidden_field :stripe_card_token %>

	<div class="field">
		<%= label_tag :card_number, "Credit Card Number " %>
		<div class="input-prepend">
			<span class="add-on">
				<i class='icon-credit-card'></i>
			</span>
			<%= text_field_tag :card_number, nil, name: nil %>
		</div>
	</div>


<div class="field">
		<%= label_tag :card_code, "Security Code on Card (CVV)" %>
		<div class="input-prepend">
			<span class="add-on">
				<i class='icon-lock'></i>
			</span>
			<%= text_field_tag :card_code, nil, name: nil %>
		</div>
	</div>

	<div class="field">
		<%= label_tag :card_month, "Card Expiration" %>
		<%= select_month nil, {add_month_numbers_true: true}, {name: nil, id: "card_month"}%>
		<%= select_year nil, {start_year: Date.today.year, end_year: Date.today.year+15}, {name: nil, id: "card_year"}%>
	</div>

	<div id="stripe_error">
		<noscript>JavaScript is not enabled and is required for this form. First enable it in your web browser settings.</noscript>
	</div>
	<br>
	<div class="actions"><%= f.submit "Complete" %></div>
	<% end %>
	
	<br>
	<hr>
	<hr>
<div class="well">



<h3>Account Info</h3>
<hr>
<div class="input-prepend">
		<i class='icon-folder-open-alt'></i>
		<%= current_account.username %>
	</div>


	
	
	
	<%#= f.label "Admin full name" %>
	<div class="input-prepend">
		<i class='icon-user' style="margin-right:4px;"></i>
		<%= current_account.admin_name %>
	</div>
	
	<%#= f.label "Admin email address" %>
	<div class="input-prepend">
		<i class='icon-envelope' style="margin-right:1px;"></i>
		<%= current_account.admin_email %>
	</div>
	
	<%#= f.label "Admin phone number" %>
	<div class="input-prepend">
		<i class='icon-phone' style="margin-right:4px;"></i>
		<%= current_account.admin_phone %>
	</div>

</div>
</div>
<div class="span3 sign-up-side">
	<h2>Details</h2>
	<p>  </p>
	<hr class="skinny">
	<i class="icon-double-angle-right"></i><P style="margin-bottom: 60px;">
	One <strong>Account Name</strong> and <strong>Password</strong> per organization, for unlimited users
</P>
<br>
<i class="icon-double-angle-right"></i><p>
All files will be organized by either <strong>Quarter</strong> or <strong>Semester</strong> automatically
</p>
<hr class="skinny" style="margin-bottom:50px;">
<i class="icon-double-angle-right"></i><P style="margin-bottom:;">
Each account must have an <strong>Account Administrator</strong> set up. Remember your additional password to: 
<ul>
	<li>Edit Files</li>
	<li>Delete Files</li>
	<li>Manage Settings</li>
</ul>
</P>
<br>
	<!-- <i class="icon-double-angle-right"></i><p>
		All files will be organized by either <strong>Quarter</strong> or <strong>Semester</strong> automatically
	</p>
--></div>
</div>