
<div class="row"><div id="sign-up-form" class="span4 offset2">
	<div id="sign-up-header">
		<h2>Sign Up</h2>
			<p>It's <strong>free</strong> and takes <strong>less than one minute.</strong> </p>
	</div>
	<hr class="skinny">
	<%= form_for @account, validate: true do |f| %>
	<%#= render 'shared/form_error_messages', object: f.object %>
	
	<%#= f.label :username %>
	<div class="input-prepend">
		<span class="add-on"><i class='icon-folder-open-alt'></i></span>
		<%= f.text_field :username, placeholder: "Account Name" %>
	</div>

<br>
	<%#= f.label :password %>
	<div class="input-prepend">
		<span class="add-on"><i class='icon-lock'></i></span>
		<%= f.password_field :password, placeholder: "Password" %>
	</div>
<br>
	<%#= f.label :password_confirmation %>
	<div class="input-prepend">
		<span class="add-on"><i class='icon-refresh'></i></span>
		<%= f.password_field :password_confirmation, placeholder: "Confirm Password" %>
	</div>
<br>
	<%= f.label :schedule_type %>
	<%= f.radio_button :schedule_type, "Quarter" %> <span class="gray">Quarter</span>
	<%= f.radio_button :schedule_type, "Semester" %> <span class="gray">Semester</span>

	<hr class="skinny">
	<h3>Admin</h3>
	
	<%#= f.label "Admin full name" %>
	<div class="input-prepend">
		<span class="add-on"><i class='icon-user'></i></span>
		<%= f.text_field :admin_name, placeholder: "Full Name" %>
	</div>
	
<br>
	<%#= f.label "Admin email address" %>
	<div class="input-prepend">
		<span class="add-on"><i class='icon-envelope'></i></span>
		<%= f.text_field :admin_email, placeholder: "Email Address" %>
	</div>
	
<br>
	<%#= f.label "Admin phone number" %>
	<div class="input-prepend">
		<span class="add-on"><i class='icon-phone'></i></span>
		<%= f.text_field :admin_phone, placeholder: "Phone Number" %>
	</div>
	
<br>
	<%#= f.label "Admin Password" %>
	<div class="input-prepend">
		<span class="add-on"><i class='icon-lock'></i></span>
		<%= f.password_field :account_admin_password, placeholder: "Admin Password" %>
	</div>
	
<br>

	<div>
		<%= f.label :accept_terms_and_conditions, "I agree to the #{link_to 'Terms of Service', accounts_path}.".html_safe, class: "checkbox", style:"display:inline;" %>
	
		<%= f.check_box :accept_terms_and_conditions %>
	</div>


	<%= f.submit "Submit", class: "btn btn-large" %>

<% end %>
</div>
<div class="span3 sign-up-side">
	<h2>Details</h2>
	<p>  </p>
	<hr class="skinny">
	<i class="icon-double-angle-right"></i><P style="margin-bottom: 60px;">
		One <strong>Account Name</strong> and <strong>Password</strong> per organization, for unlimited users
	</P>
<br>
	<i class="icon-double-angle-right"></i><p>
		All files will be organized by either <strong>Quarter</strong> or <strong>Semester</strong> automatically
	</p>
	<hr class="skinny" style="margin-bottom:50px;">
	<i class="icon-double-angle-right"></i><P style="margin-bottom:;">
		Each account must have an <strong>Account Administrator</strong> set up. Remember your additional password to: 
		<ul>
			<li>Edit Files</li>
			<li>Delete Files</li>
			<li>Manage Settings</li>
		</ul>
	</P>
<br>
	<!-- <i class="icon-double-angle-right"></i><p>
		All files will be organized by either <strong>Quarter</strong> or <strong>Semester</strong> automatically
	</p>
 --></div>
</div>