<h1>show account <%= params[:id] %></h1>
<h1>Username: <%= @account.username %></h1>

<ul>
<% @documents.each do |doc| %>
<li>
Category: <%= doc.category %>
<br>
Sub_category: <%= doc.sub_category %>
<br>
Sub_sub_category: <%= doc.sub_sub_category %>

</li>
<% end %>
</ul>

